<section class="hero is-small">
    <div class="hero-body">
      <div class="navbar">
        <div class="container">
          <div class="navbar-brand">
            
            <span class="navbar-burger burger" aria-label="menu" data-target="tga_menu" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
  
          <div id="tga_menu" class="navbar-menu">
            <a class="navbar-item" routerLink="/main">
              Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable" routerLink="/pokemon">
              <a class="navbar-link">
                Japanese Pokemon TCG
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="/pokemon#card">
                  Card Object
                </a>
                <a class="navbar-item" href="/pokemon#set">
                  Set Object
                </a>
                <a class="navbar-item" href="/pokemon#queries">
                  API Queries
                </a>
                <a class="navbar-item" href="/pokemon#examples">
                  Examples
                </a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable" routerLink="/digimon">
              <a class="navbar-link">
                Digimon CCG
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="/digimon#card">
                  Card Object
                </a>
                <a class="navbar-item" href="/digimon#set">
                  Set Object
                </a>
                <a class="navbar-item" href="/digimon#queries">
                  API Queries
                </a>
                <a class="navbar-item" href="/digimon#examples">
                  Examples
                </a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable" routerLink="/dbz">
              <a class="navbar-link">
                Dragon Ball Super
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="/dbz#card">
                  Card Object
                </a>
                <a class="navbar-item" href="/dbz#set">
                  Set Object
                </a>
                <a class="navbar-item" href="/dbz#queries">
                  API Queries
                </a>
                <a class="navbar-item" href="/dbz#examples">
                  Examples
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>